.square{
    height: 400px;
    width: 400px;
    background-color: darkkhaki;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    border-left: dashed 2px black;
}
